<div class="art-postcontent">
  
 <h3><strong>Contactar</strong></h3>
 
 <p>&nbsp;</p>
 <p align="justify">Puede enviarnos una consulta y le contestaremos a la mayor brevedad,       o si lo desea puede ponerse en contacto con nosotros en los tel&eacute;fonos que se indican en la parte inferior de esta pantalla.</p>
 <p align="justify">&nbsp;</p>
 <p align="left"> <span>
  <span class="Estilo9">
  </span></span></p>
  <p align="left">&nbsp;</p>
  <form action="contacto.php" method="post" name="FormPedido" id="FormPedido"  onsubmit="return Verifica(this);">
    <table width="100%" border="0" align="center" bgcolor="#F0F0F0">
      <tr>
        <td height="303" bgcolor="#FFFFFF"><table width="97%" border="0" bgcolor="#F0F0F0" align="center" cellpadding="0" cellspacing="0" class="textoFicha" style="border:none;">
          <tbody>
            <tr>
              <td height="22" colspan="4" bgcolor="#000000" class="Estilo3"> Datos personales</td>
            </tr>
            <tr>
              <td colspan="4" height="5"></td>
            </tr>
            <tr>
              <td width="8" class="style2">&nbsp;</td>
              <td width="148" height="22" class="style2">Nombre:*</td>
              <td width="20" style="width: 5px;"></td>
              <td width="524" valign="top"><input name="nombre" type="text" class="acceso" id="nombre" style="width: 250px;" /></td>
            </tr>
            <tr>
              <td colspan="4" height="5"></td>
            </tr>
            <tr>
              <td class="style2">&nbsp;</td>
              <td height="22" class="style2">Tel&eacute;fono :*</td>
              <td></td>
              <td valign="top"><input name="telefono" type="text" class="acceso" id="telefono"  style="width: 250px;" /></td>
            </tr>
            <tr>
              <td colspan="4" height="5"></td>
            </tr>
            <tr>
              <td class="style2">&nbsp;</td>
              <td height="22" class="style2">Direcci&oacute;n:</td>
              <td></td>
              <td valign="top"><input name="direccion" type="text" class="acceso" id="direccion" style="width: 250px;" /></td>
            </tr>
            <tr>
              <td colspan="4" height="5"></td>
            </tr>
            <tr>
              <td class="style2">&nbsp;</td>
              <td height="22" class="style2">E-mail:*</td>
              <td></td>
              <td valign="top"><input name="email" type="text" class="acceso" id="email" style="width: 250px;" /></td>
            </tr>
            <tr>
              <td colspan="4" height="5"></td>
            </tr>
            <tr>
              <td class="style2">&nbsp;</td>
              <td height="22" class="style2">Comentarios:</td>
              <td></td>
              <td valign="top"><textarea name="comentarios" cols="40" rows="5" class="acceso" id="comentarios"></textarea></td>
            </tr>
            <tr>
              <td colspan="4" height="5"></td>
            </tr>
            <tr>
              <td height="24" colspan="4" style="text-align: center;">&nbsp;&nbsp;
                <input name="enviar" type="submit" class="btnamarillo" id="enviar" value="enviar" /></td>
              </tr>
              <tr>
                <td colspan="4" height="7"></td>
              </tr>
              <tr>
                <td height="19" colspan="3"></td>
                <td class="style2">* Campos obligatorios</td>
              </tr>
            </tbody>
          </table></td>
        </tr>
      </table>
      <p align="center">
      </p>
    </form>

    <p>&nbsp;</p>
    <div id="comovender">
     <p align="center"><strong>MyCantabria Inmobiliaria</strong><br />
       Teléfono: 942.517.691<br />
       Móvil:    664.465.191<br />
       <a href="contacto.php">info@mycantabria.com</a><br />
       <br />
     </p>
   </div> 

   <p align="center">&nbsp;</p>
   <p align="justify">En cumplimiento de la Ley Org&aacute;nica 15/1999, de 13 de diciembre, de Protecci&oacute;n de Datos de Car&aacute;cter Personal, le informamos que los datos personales que nos suministre a trav&eacute;s del portal ser&aacute;n tratados de forma confidencial y pasar&aacute;n a formar parte de un fichero titularidad de MyCantabria Inmobiliaria. Sus datos personales ser&aacute;n utilizados &uacute;nicamente para la prestaci&oacute;n del servicio ofrecido, as&iacute; como para el env&iacute;o de informaci&oacute;n que el Usuario haya podido solicitar.                                          </p>
 </div>                                      
 
 
 
</td>

</tr>
<tr>
  <td height="707" align="middle" valign="top"><p>&nbsp;</p>
    <p>&nbsp;</p></td>
  </tr>
</tbody>
</table></td>
</tr>
</table>                

</div>
</div>

</div>
</div>
</div>
</div>