<h3>Calculadora Hipotecaria</h3>

<p>Calcula los pagos mensuales de la hipoteca de un inmueble. 
Los simuladores de hipotecas te ayudan a 
calcular la cuota mensual que vas a pagar. Utiliza 
nuestro simulador de hipoteca para saber la cuota 
mensual que vas a pagar por tu hipoteca.</p>

<p>Gracias por utilizar nuesto 
simulador de hipotecas: La simulaci&oacute;n de la hipoteca o 
c&aacute;culo de la cuota mensual se consigue mediante la 
f&oacute;rmula llamada pr&eacute;stamo frances, que es la que se 
aplica al 90 % de las hipotecas en Espa&ntilde;a.</p>

<div style="float: left; width: 50%;">

  <table width="292" border="1" cellpadding="2" bgcolor="silver" class="price">
    <tbody>
      <tr>
        <td align="center" colspan="2">SIMULADOR HIPOTECAS</td>
      </tr>
      <tr>
        <td width="50%" colspan="2">

          <table border="0" cellpadding="2">
            <tbody>
              <tr>
                <td colspan="2"><b>Datos:</b></td>
              </tr>
              <tr>
                <td align="right">Precio del inmueble:</td>
                <td>
                  <input name="price" 
                         onblur="checkForZero(this)"
                         onchange="checkForZero(this)"
                         type="text"
                         size="7" 
                         value="120000" />
                </td>
              </tr>
              <tr>
                <td align="right">Pago de Entrada:</td>
                <td>
                  <input name="dp"
                         onchange="calculatePayment(this.form)" 
                         type="text"
                         size="7"
                         value="0" />
                </td>
              </tr>
              <tr>
                <td align="right">Interes Anual:</td>
                <td>
                  <input name="ir"
                         onblur="checkForZero(this)" 
                         onchange="checkForZero(this)"
                         type="text"
                         size="4" value="4.90" />%
                </td>
              </tr>
              <tr>
                <td align="right">Periodo:</td>
                <td>
                  <input name="term"
                         onblur="checkForZero(this)" 
                         onchange="checkForZero(this)"
                         type="text"
                         size="4"
                         value="25" /> A&ntilde;os
                </td>
              </tr>
            </tbody>
          </table>

        </td>
      </tr>
      <tr>
        <td>

          <table border="0" cellpadding="2">
            <tbody>
              <tr>
                <td colspan="2"><b>Resultados:</b></td>
              </tr>
              <tr>
                <td align="right">Cantidad a hipotecar:</td>
                <td>
                  <input name="principle"
                         type="text" 
                         size="7" />
                </td>
              </tr>
              <tr>
                <td align="right">Numero de pagos:</td>
                <td>
                  <input name="payments" type="text" size="7" />
                </td>
              </tr>
              <tr>
                <td align="right">Pago mensual:</td>
                <td><input name="pmt" type="text" size="7" /></td>
              </tr>
            </tbody>
          </table>

        </td>
      </tr>
      <tr>
        <td align="center" colspan="2">
          <input name="cmdCalc"
                 onclick="cmdCalc_Click(this.form)"
                 type="button"
                 value="Calcular Hipoteca" />
        </td>
      </tr>
    </tbody>
  </table>

</div>

<div style="float: left; width: 50%; margin-left: 3em;">
  <p>Con nuestro simulador de hipoteca no necesitas hacer 
  c&aacute;lculos complejos. Te mostramos la f&oacute;rmula del pr&eacute;stamo 
  fr&aacute;nces que hace nuestro simulador de hipotecas para tu 
  informaci&oacute;n:</p>

  <img src="images/financing/mortgage-calculation.png" width="317" />
  <img src="images/financing/calc.jpg" width="216" height="177" />
</div>

<script language="JavaScript" src="scripts/mortgageCalculator.js"></script>
