<table width="100%" border="0" align="center" cellpadding="2" cellspacing="2" bgcolor="#FFFFFF">
<tr> 
    <td height="24" colspan="5" bgcolor="#BCBCBC"><span class="Estilo37"></a><strong class="Estilo2">
      Exp:
      1874      - 
      PISO 
      (
      CANTABRIA 
      - 
      MIENGO      ) </strong></span>
      <div align="right" class="Estilo42"></div>      <div align="right" class="Estilo42"></div></td>
    <td width="11%" height="24" bgcolor="#BCBCBC"><div align="right" class="Estilo42"><span class="Estilo2"><strong>Precio: <span class="Estilo46"> 295 &euro;
    </span></strong> </span></div></td>
</tr>
<tr>
  <td width="1%" height="106" valign="top"><p><font face="Century" size="1"><a href='inmueble.php?id_inmueble=1874'></a></font></p>    </td>
  <td width="33%" valign="top"><font face="Century" size="1"><a href='http://www.mycantabria.com/01874-PISO_EN_ALQUILER_EN_MIENGO.php'><img src="../imagenes/fotos/11874_1" alt="foto2" width="210" height="140" border='1' class="cajatipo2" style='border: 1px solid rgb(203, 218, 231);'></a></font><font face="Century" size="1"><a href='../imagenes/fotos/11874_1' target='_blank'></a></font></td>
  <td colspan="2" valign="top"><font face="Century" size="1"><a href='http://www.mycantabria.com/01874-PISO_EN_ALQUILER_EN_MIENGO.php'><img src="../imagenes/fotos/11874_2" alt="foto2" width="210" height="140" border='1' class="cajatipo2" style='border: 1px solid rgb(203, 218, 231);'></a></font></td>
  <td colspan="2" valign="top"><font face="Century" size="1"><a href='inmueble.php?id_inmueble=1874'></a></font><font face="Century" size="1"><a href='../imagenes/fotos/11874_1' target='_blank'></a></font><font face="Century" size="1"><a href='http://www.mycantabria.com/01874-PISO_EN_ALQUILER_EN_MIENGO.php'><img src="../imagenes/fotos/11874_3" alt="foto2" width="210" height="140" border='1' class="cajatipo2" style='border: 1px solid rgb(203, 218, 231);'></a></font></td>
  </tr>
<tr>
  <td height="22" bgcolor="#FFFFFF" class="promociones"><p align="justify" class="Estilo4 Estilo13 Estilo2"><span class="Estilo15"><a href="inmueble.php?id_inmueble=1874" class="Estilo4"></a></span></p>    </td>
  <td colspan="4" bgcolor="#EFEFEF" class="Estilo42">Se alquila precioso apartamento en Mogro, Miengo. La superficie de la vivienda es de 50 m2, distribuida en 1 dormitorio más terraza con vistas al mar, salón y cocina completamente amueblados y un baño y trastero. Cuenta con calefacción y calentador eléctrico.  <br></br>¡Pídanos más información sin compromiso!</td>
  <td align="right" bgcolor="#EFEFEF" class="Estilo42"><div align="center"><span class="Estilo13 Estilo14"><a href="http://www.mycantabria.com/01874-PISO_EN_ALQUILER_EN_MIENGO.php"> <span class="art-button-wrapper"> <span class="art-button-l"> </span> <span class="art-button-r"> </span> <a class="readon art-button" href="http://www.mycantabria.com/01874-PISO_EN_ALQUILER_EN_MIENGO.php">M&aacute;s Informaci&oacute;n</a> </span></div>
  </td>
</tr>
</table>
<table width="100%" border="0">
  <tr>
    <td><div align="right">
      <form name="form1" method="post" action="inmueble.php?id_inmueble=1874">
        <label>
        <div align="center"></div>
        </label>
      </form>
    </div></td>
  </tr>
</table>