<tr>
  <td width="75%" height="27" valign="top" bgcolor="#FFFFFF"><h2>Bienvenid@ MyCantabria Inmobiliaria</h2>
    <p>&nbsp;</p>
    <p align="justify">MyCantabria Inmobiliaria le ofrece todas las soluciones relativas al sector inmobiliario, asesorándole, en cada uno de los procesos, a través de nuestro equipo de expertos profesionales, para dar satisfacción a todas sus necesidades relacionadas con dicho sector. Le facilitamos la búsqueda de su vivienda, bien en alquiler o compra, haciendo siempre una gran selección, valorando la mejor calidad-precio para ofrecerle un buen servicio. Lo mas importante para nosotros es que quede satisfecho.</p>
    <p align="justify">&nbsp;</p>
    <h2 align="justify">¿No encuentra lo que está buscando? MyCantabria lo busca por usted</h2>
    <p align="justify">&nbsp;</p>
    <p align="justify"> Indíquenos el tipo de inmueble, características, zona, precio aproximado y si lo encontramos enseguida nos pondremos en contacto con usted.</p>
    <p align="justify">&nbsp;</p>
    <p align="center"><a href="contacto.php"><img src="images/search.jpg" width="150" height="150" /></a></p>
    <p align="justify">&nbsp;</p>
    <p align="justify">&nbsp;</p>
    <h2 align="center">¿Sólo necesita que le tramitemos un contrato?</h2>
    <p align="justify">&nbsp;</p>
    <p align="center">Tenemos los precios más económicos del mercado. Pídanos más información sin compromiso.</p>
    <p align="center"><a href="contacto.php"><img src="images/contract.jpg" width="200" height="170" /></a></p>
    <p align="justify">&nbsp;</p>
    <p align="justify">&nbsp;</p>
    <p><h2>Últimas propiedades disponibles</h2></p></td>
  </tr>
  <tr>
    <td align="middle" valign="top"><table width="100%" border="0" align="right">
      <tr>
        <td>
            <div class="venta">
              <h3>
              CHALET EN  
              VENTA                                                </h3>
              <p><a href="inmueble.php?id_inmueble=1887"><img src="images/properties/11887_1.jpeg" height="135" class="" style="" border="0" align="" /></a></p>
              <p class="description"><span class="Estilo9">
                CHALET                                                  EN
                PIELAGOS                                                  </span><br />
                <strong>Dormitorios:</strong> <span class="Estilo9">
                4                                                    </span><br />
                <strong>Poblaci&oacute;n: </strong><span class="Estilo9">
                PIELAGOS                                                    </span><br />
                <strong>Zona:</strong> <span class="Estilo9">
                ARCE                                                  </span></p>
                <p class="price">Precio: <strong><b>224.000&nbsp;&euro;</b></strong></p>
                <h3 class="price"><a href="inmueble.php?id_inmueble=1887" class="Estilo191">Mas informaci&oacute;n</a></h3>
              </div>
              <div class="venta">
                <h3>
                CHALET                                                  EN                                                 ALQUILER                                                </h3>
                <p><a href="inmueble.php?id_inmueble=1885"><img src="images/properties/11885_1.jpeg" height="135" border="0" align="" class="" style="" /></a></p>
                <p class="description"><span class="Estilo9">
                  CHALET                                                  &nbsp; EN
                  PIELAGOS                                                  </span><br />
                  <strong>Dormitorios:</strong> <span class="Estilo9">
                  4                                                    </span><br />
                  <strong>Poblaci&oacute;n: </strong><span class="Estilo9">
                  PIELAGOS                                                    </span><br />
                  <strong>Zona:</strong> <span class="Estilo9">
                  ARCE                                                  </span></p>
                  <p class="price">Precio: <strong><b>650&nbsp;&euro;</b></strong></p>
                  <h3 class="price Estilo19"><span class="price"><a href="inmueble.php?id_inmueble=1885" class="Estilo191">Mas informaci&oacute;n</a></span></h3>
                </div>
                
                <div class="venta">
                  <h3>
                  PISO                                                  EN                                                 VENTA                                                </h3>
                  <p><a href="inmueble.php?id_inmueble=1884"><img src="images/properties/11884_1.jpeg" height="135" border="0" align="" class="" style="" /></a></p>
                  <p class="description"><span class="Estilo9">
                    PISO                                                  &nbsp; EN
                    SANTANDER                                                  </span><br />
                    <strong>Dormitorios:</strong> <span class="Estilo9">
                    2                                                    </span><br />
                    <strong>Poblaci&oacute;n: </strong><span class="Estilo9">
                    SANTANDER                                                    </span><br />
                    <strong>Zona:</strong> <span class="Estilo9">
                    S-20/VALDENOJA                                                  </span></p>
                    <p class="price">Precio: <strong><b>331.992&nbsp;&euro;</b></strong></p>
                    <h3 class="price"><a href="inmueble.php?id_inmueble=1884" class="Estilo191">Mas informaci&oacute;n</a></h3>
                  </div>


                </div>                                                                    
            </td>
            </tr>
            <tr>
              <td>     <div id="comovender">
               <p align="center"><strong>MyCantabria Inmobiliaria</strong><br />
                 Teléfono: 942.517.691<br />
                 Móvil:    664.465.191<br />
                 <a href="contacto.php">info@mycantabria.com</a><br />
                 <br />
               </p>
             </div></td>
           </tr>