<table width="100%" border="0" align="center" cellpadding="2" cellspacing="2" bgcolor="#FFFFFF">
  <tr> 
    <td height="24" colspan="5" bgcolor="#BCBCBC"><span class="Estilo37"></a><strong class="Estilo2">
      Exp:
      1255      - 
      NAVE 
      (
      CANTABRIA 
      - 
      REINOSA      ) </strong></span>
      <div align="right" class="Estilo42"></div>      <div align="right" class="Estilo42"></div></td>
      <td width="11%" height="24" bgcolor="#BCBCBC"><div align="right" class="Estilo42"><span class="Estilo2"><strong>Precio: <span class="Estilo46"> 1 &euro;
      </span></strong> </span></div></td>
    </tr>
    <tr>
      <td width="1%" height="106" valign="top">
        <p>
          <font face="Century" size="1">
            <a href='inmueble.php?id_inmueble=1255'></a>
          </font>
        </p>
      </td>
      <td width="33%" valign="top">
        <font face="Century" size="1">
        <a href='http://www.mycantabria.com/01255-NAVE_EN_ALQUILER_EN_REINOSA.php'>
          <img src="images/properties/11255_1.jpg" alt="foto2" width="210" height="140" border='1' class="cajatipo2" style='border: 1px solid rgb(203, 218, 231);'>
      </a>
      </font>
        <font face="Century" size="1">
          <a href='images/properties/11255_1.jpg' target='_blank'>
        </a>
      </font>
      </td>
      <td colspan="2" valign="top">
        <font face="Century" size="1">
        <a href='http://www.mycantabria.com/01255-NAVE_EN_ALQUILER_EN_REINOSA.php'>
        <img src="images/properties/11255_2.jpg" alt="foto2" width="210" height="140" border='1' class="cajatipo2" style='border: 1px solid rgb(203, 218, 231);'>
        </a>
        </font>
        </td>
      <td colspan="2" valign="top">
        <font face="Century" size="1">
        <a href='inmueble.php?id_inmueble=1255'>
        </a>
        </font>
          <font face="Century" size="1">
            <a href='images/properties/11255_1' target='_blank'>
          </a>
        </font>
          <font face="Century" size="1">
            <a href='http://www.mycantabria.com/01255-NAVE_EN_ALQUILER_EN_REINOSA.php'>
            <img src="images/properties/noimage.gif" alt="foto2" width="210" height="140" border='1' class="cajatipo2" style='border: 1px solid rgb(203, 218, 231);'>
        </a>
        </font>
      </td>
    </tr>
    <tr>
      <td height="22" bgcolor="#FFFFFF" class="promociones"><p align="justify" class="Estilo4 Estilo13 Estilo2"><span class="Estilo15"><a href="inmueble.php?id_inmueble=1255" class="Estilo4"></a></span></p>    </td>
      <td colspan="4" bgcolor="#EFEFEF" class="Estilo42">Se alquila Nave industrial a estrenar de 4150 m2 interiores y exterior de 1120 m2. Sin pilares en el interior, totalmente diáfana, Con cinco puertas de acceso a la nave. Se encuentra ubicada en Reinosa, Cantabria y es ideal como centro de logistica de operaciones en la zona norte, muy bien comunicada y con rápido acceso a la autovía.  <br></br>¡Pídanos más información sin compromiso! <br></br> <br></br>Puede ponerse en contacto con nosotros a través de: <br></br> <br></br>Mail: info@mycantabria.com <br></br>Tel:  942 517 691 (horario comercial) <br></br>        664 465 191 (a cualquier hora incluido fines de semana y festivos) <br></br>WhatsApp: 664 465 191 <br></br>Skype: mycantabria</td>
      <td align="right" bgcolor="#EFEFEF" class="Estilo42"><div align="center"><span class="Estilo13 Estilo14"><a href="http://www.mycantabria.com/01255-NAVE_EN_ALQUILER_EN_REINOSA.php"> <span class="art-button-wrapper"> <span class="art-button-l"> </span> <span class="art-button-r"> </span> <a class="readon art-button" href="http://www.mycantabria.com/01255-NAVE_EN_ALQUILER_EN_REINOSA.php">M&aacute;s Informaci&oacute;n</a> </span></div>
      </td>
    </tr>
  </table>