<table width="100%" border="0">
  <tr>
    <td valign="top"><p align="justify">&nbsp; </p>
      <p align="justify"><strong>MyCantabria Inmobiliaria</strong> le ofrece todas las soluciones relativas al sector inmobiliario,  asesor&aacute;ndole, en cada uno de los procesos, a trav&eacute;s de nuestro equipo de  expertos profesionales, para dar satisfacci&oacute;n a todas sus necesidades  relacionadas con dicho sector.</p>
      <p align="justify">&nbsp;</p>
      <p align="justify">Algunos de nuestros servicios son:                                                           </p>
      <p>&nbsp;</p>
      <ul>
        <li>Gestión alquiler/ venta de todo tipo de inmuebles</li>
        <li>Tramitación de contratos arrendamiento y ventas</li>
        <li>Amplio horario de visitas y atención telefónica (incluidos sábados, domingos y festivos</li>
        <li>Gestión de seguros de alquiler con la principal aseguradora líder del sector (ARAG)</li>
        <li>Gestión certificado energético</li>
      </li>
    </ul>
    <p align="center" class="caja2">&nbsp;</p>
    <p align="center" class="caja2"><img src="images/services/background.jpg" width="700" height="290" /></p>
    <p align="justify"><br />
    </p>
    <p class="caja2">&nbsp; </p></td>
  </tr>
</table>